apiVersion: v2
description: A Helm chart for Gatekeeper
name: gatekeeper
icon: https://open-policy-agent.github.io/gatekeeper/website/img/logo.svg
keywords:
  - open policy agent
version: 3.21.0-beta.0-bb.0
home: https://github.com/open-policy-agent/gatekeeper
sources:
  - https://github.com/open-policy-agent/gatekeeper.git
appVersion: v3.21.0-beta.0
dependencies:
  - name: gluon
    version: 0.9.6
    repository: oci://registry1.dso.mil/bigbang
  - name: gatekeeper
    version: 3.21.0-beta.0
    repository: https://open-policy-agent.github.io/gatekeeper/charts
    alias: upstream
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Gatekeeper: v3.21.0-beta.0
  # kubectl and base images below are conditionally used
  # dependent on your configuration of bbtests, postInstall, probeWebhook, preUninstall values
  helm.sh/images: |
    - name: gatekeeper
      image: registry1.dso.mil/ironbank/opensource/openpolicyagent/gatekeeper:v3.21.0-beta.0
    - name: kubectl
      image: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl:v1.33
    - name: base
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
